@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.content {
  max-width: 1250px;
  margin: 80px auto;
  padding: 0 15px 0 15px;
}

.centerLoader, .headerLoader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerLoader {
  margin-top: 200px;
}

.headerLoader {
  margin-top: 20px;
}